.venv/
uv.lock
__pycache__/
.pytest_cache/
*.py[cod]
*.so
*.egg-info/
dist/
build/
/.coverage
coverage.xml
htmlcov/
*.code-workspace

# macOS
.DS_Store

# Editor directories and files
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# PyCharm
.idea/

# Node
node_modules/
